; Nexus proxy registry pointing to http://registry.npmjs.org/
registry=http://nexus.samu.com:8081/repository/npm-all/

; base64 encoded authentication token
_auth = YWRtaW46YWRtaW4xMjM=

; required by Nexus
email = admin@example.org

; force auth to be used for GET requests
always-auth = true

; we don't want to put certificates in .npmrc
strict-ssl = false

; optional set to false due to fsevents is needed on MacOS only
optional = false